# exclude everything except the 1st set of files below
!**/scripts

**/renv
**/renv/**
**/*.lock
**/*.rproj
**/*.rprofile

**/gen-network-rail-wps-possession-planner/
*.rhistory
*.rdata

*.docx
*.doc
*.txt
*.csv
*.xls
*.xlsx
*.xlsm
*.xlsb
*.pptx
*.html
*.png


*.lncfg
*.wxmod
*.wrop


*.qvf

*.ini
*.jpg
*.svg 

*.zip
*.tmp
*.mkv

